Body{

    background-image: linear-gradient(to right, rgb(70, 1, 70), rgb(247, 0, 115));

}

.center {
    text-align: center;
}

img {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    border: 5px solid Black;

